*, 
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
/* Navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo-text {
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: #82868f;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #82868f;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    padding: 14px 35px;
    border-radius: 30px;
    transition: background-color 0.2s linear, color 0.2s linear
}

.nav-link.active {
    background-color: #0ebfdd;
    color: #ffffff;
}

.nav-link:hover {
    background-color: #0ebfdd;
    color: #ffffff;
}

/* Toggle */
.toggle {
    position: relative;
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
    margin-right: 30px;
}

.toggle-btn,
.toggle-btn:before,
.toggle-btn:after {
    display: block;
    position: absolute;
    top: 50%;
    margin: -1.5px 0 0 -15px;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: #0ebfdd; 
    transition: transform 0.2s linear;
}

.toggle-btn:before {
    content: "";
    transform: translateY(-10px);
}

.toggle-btn:after {
    content: "";
    transform: translateY(10px);
}

.toggle-active .toggle-btn {
    height: 0;
}

.toggle-active .toggle-btn:before {
    transform: rotate(45deg);
}

.toggle-active .toggle-btn:after {
    transform: rotate(-45deg);
}

/* Intro */
.intro {
    padding: 400px 0 0;
    width: 100%;
    height: 600px;
    background: url('../img/intro/background.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
}

.intro-title {
    color: #f7fdfe;
    margin-bottom: 20px;
}

.intro-title-text {
    margin: 0 20px;
    font-family : Montserrat;
    font-weight: 500;
    font-size: 44px;
}

.intro-title-star {
    font-size: 12px;
    vertical-align: 100%;
}

.intro-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    color: #f7fdfe;
}

/* About */
.about {
    text-align: center;
    padding: 60px 0px 65px;
}

.about-title {
    font-family: Montserrat;
    font-size: 44px;
    color: #0ebfdd;
    margin-bottom: 20px;
}

.about-text {
    font-family: Montserrat;
    font-size: 20px;
    color: #45494d;
}

/* Team */
.team {
    text-align: center;
    background-color: #0ebfdd;
    padding: 60px 0;
}

.team-title {
    font-family: Montserrat;
    color: #ffffff;
    font-weight: 500;
    font-size: 44px;
}

.team-item {
    margin: 100px auto;
    display: flex;
    width: 590px;
    justify-content: space-between;
}

.team-name {
    margin-top: 5px;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.team-post {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.team-btn {
    display: inline-block;
    padding: 0 35px;
    height: 38px;
    line-height: 38px;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px #ffffff solid;
    border-radius: 30px;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.team-btn:hover {
    background-color: #ffffff;
    color: #0ebfdd;
}

/* Map */
iframe {
    display: block;
    width: 100%;
    height: 600px;
    border: 0;
}

/* Footer */
.footer {
    background-color: #45494d;
    padding: 0px 0 15px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.about-text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #a7acb2;
    margin-right: 30px;
}

.footer-link {
    display: inline-block;
    padding: 0 15px;
    height: 38px;
    line-height: 38px;
    text-decoration: none;
    color: #d7dee4;
    border: 1px #d7dee4 solid;
    border-radius: 50%;
}

.footer-hr {
    background-color: #6e7175;
    height: 1px;
    border: none;
    margin: 0 0 15px 0;
}

.copyright {
    display: flex;
    justify-content: flex-end;
}

.copyright-text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    color: #6e7175;
    margin-left: 15px;
}

/* Media */

@media (max-width: 770px) {
/* Nav */
    .header {
        position: relative;
    }

    .nav {
        display: none;
        position: absolute;
        top: 80px; 
        width: 100%;
        margin-left: -15px;
        background-color: white; 
    }

    .nav-link {
        margin: 20px auto;
        display: block;
        width: 140px;
        text-align: center;
    }

/* Toggle */
    .toggle {
        display: block;
    }

/* Team */
    .team-item {
        max-width: 100%;
        padding: 0 20px;
        margin: 65px auto;
    }
}

@media (max-width: 575px) {
/* Toggle */
    .toggle {
        margin-right: 0;
    }

/* Intro */
    .intro {
        padding: 300px 0 0;
    }

    .intro-text {
        font-size: 15px;
    }

    .intro-title-text {
        font-size: 30px;
    }

    .intro-title-star {
        vertical-align: 40%;
    }

/* About */
    .about {
        padding: 40px 0 50px;
    }

/* Team */
    .team-item {
        flex-wrap: wrap;
    }

    .team-items {
        width: 100%;
        margin-bottom: 30px;
    }

    .team-items:last-child {
        margin-bottom: 0;
    }

/* Footer */
    .footer-info {
        flex-wrap: wrap;
    }

    .footer-about {
        width: 100%;
        text-align: center;
    }

    .footer-links {
        width: 100%;
        text-align: center;
    }

/* Copyright */
    .copyright {
        justify-content: center;
    }

    .copyright-text {
        margin-left: 7px;
        font-size: 8px;
    }
}